


<form action="/loxotron/play" method="post">
    <label for="bet">Введите целое число: </label>
    <input type="number" id="bet" name="bet" required>
    <br>

    <label for="cef">Введите вещественное число: </label>
    <input type="number" id="cef" name="cef" step="0.01" required>
    <br>

    <input type="submit" value="Отправить">
</form>

<h1 id=Crash></h1>

<script>
    let data = @Html.Raw(Json.Serialize(ViewData["Data"]))
    let str = document.getElementById("Crash")

    let Count = data.count; // Значение переменной Count
    console.log(data)
    function multiplyWithDelay() {
        let number = 1;

        for (let i = 0; i < Count; i++) {
            setTimeout(() => {
                number *= 1.01;
                str.innerHTML = number.toFixed(4)

            }, i * 100); // Задержка уменьшается на 0.1 секунду с каждой итерацией
        }
    }

    multiplyWithDelay();

    

</script>
